.listCasts {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
}
h3 {
    color: grey;
}
.error {
    font-size: 24px;
    color: red;
}
.itemList {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
        flex-basis: calc((100% - 45px) / 4);
}